@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700');
body{
  font-family: "Quattrocento";
}
.hero{
border: 1px solid rgba(255, 255, 255, .3);
height: 80%;
}

.hero::before {
background-image: url("../assets/mask customer/background.png");
background-position: center;
background-size: cover;
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 80%;
z-index: -2;


}
.hero::after {
background: linear-gradient(to left, transparent, white 40%) !important;
content: "";
display: block;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 80%;
z-index: -1;
opacity: 0.5;


}
.head-padding{
  margin-top: 75px !important;
}
.center-head{
  text-align: center;
}
.logo-top{
  margin: 0 30px;
}
.navbar-nav{
  margin: 0px 30px!important;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.nav-item{
  padding: 10px 20px !important;

}
.nav-item a:hover{
  text-decoration: none;
}
.dropdown-menu a{
  padding: 8px;
}
.navbar .fas{
  color: #25365A;
  padding: 0 4px;
}
.bg-light{
    box-shadow: 0 32px 60px rgba(0, 0, 0, .1);
    background-color: transparent !important;
}

.nav-item:hover{
  opacity: 0.8;
}
select{
  padding: 10px 6px !important;
}
.select-option{
  padding: 6px !important;
  line-height: 10px !important;
  height: 10px !important;
  border: none !important;
  box-shadow: 0 32px 60px rgba(255, 255, 255, .7);
}
.hero-content h1{
  font-size: 46px;
  font-weight: 700;
}

.hero-content{

  margin-top: 250px;
  margin-left: 30px;
}
.head-color{
  color: #25365A !important;
}
.para-color{
  color: #1C3361;
  font-size: 16px;
  line-height: 1.6;
}

input[type="text"]{
  padding: 20px;
  width: 450px !important;
  position: relative;
  border: none;
    box-shadow: 0 32px 60px rgba(0, 0, 0, .1);
}
input[type="button"]{
  position: absolute;
  margin-left: -170px;
  margin-top: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #337CEF;
  color: white;
  box-shadow: 0 32px 60px rgba(0, 0, 0, .1);
}

.btn{
  margin: 6px !important;
}
.find-btn{
  display: none !important;
}
/*.login-btn{
  background-color: #337CEF;
  color: white !important;
  box-shadow: 0 32px 60px rgba(0, 0, 0, .1);
}
/*input[type="button"]:hover{
  color: #337CEF;
  background-color: white;
}*/
input[type="button"]:hover{
  opacity: .8;
}
input::placeholder{
  font-family: sans-serif, "fontawesome" !important;
  font-size: 14px;
}

.facilities{
  width: 70%;
  margin: 0 auto !important;
 text-align: center;

}
.facility-list img{
  width: 60px;

  background-color:#EFF6FF;
  padding: 10px;
 margin: 14px 0;
  border-radius: 50%;
}

.find-vehicles h2, .browse-by-type h4, .browse-by-make h4{
  text-align: center;
  margin: 30px 0!important;
}
.browse
.find-vehicles h5{
  color: #A0A6C5;
}
.browse-by-type, .browse-by-make{
  width: 70%;
  margin: 0 auto;
}
.browse-by-type .column, .browse-by-make .column{
  cursor: pointer;
}
.browse-by-type img{
  width: 90%;
  text-align: center;
}
.browse-by-type p{
  font-size: 12px;
}

.column h5{
  color: #767E86;
}

.column:hover{
  background-color: #E2EFFF;
  box-shadow: 0 32px 60px rgba(0, 0, 0, .1);
}

.column:hover .find-vehicles h5{
  color: black !important;
}
.column img{
  color: black;
   filter: grayscale(100%);
   transition: all .2s ease;
}
.column:hover img{
  filter: grayscale(0);
  transform: scale(1.1);
}
.logos-section div, .type-section div{
  padding: 15px;
  text-align: center;
}
.browse-by-make img{
  width: 50px;
}

.browse-by-make h5, .browse-by-type h5{
  padding: 4px 0;
  font-size: 14px;
}


.icons{
  display: flex;
  justify-content: center;
   align-items: center;
}
.icon{
  font-size: 20px;
  padding: 0 10px;
}
.icons .fas{
  margin-top: -5px;
}
.hiw .image-display{

  background-color: #337CEF;
  display: flex;
  justify-content: center;
  align-items: center !important;

}

.image-display img{
  width: 97%;
display: none;

}

.hiw-responsive{
  display: none;
}

.hiw h2{
  margin: 70px !important;
}
.hiw-content{
  width: 80%;
  margin: 0 auto !important;

}
.hiw-content h3, .hiw-content h4, .hiw-content p{
  padding: 10px 0 !important;
}
.hiw-content .col-lg-6{
   padding: 20px !important;
   border: 1px solid rgba(25,31,157, .4);
}
.hiw-content .third-hover, .hiw-content .first-hover{
  border-left: none;
  border-bottom: none;
}
.hiw-content .second-hover, .hiw-content .fourth-hover{
  border-left: none;
  border-right: none;
  border-top: none;
}
.hiw-content .first-hover{
  border-top: none;
}
.hiw-content .fourth-hover{
  border-bottom: none;
}

.process-steps{
padding: 50px;
display: flex;

justify-content: center;
align-items: center !important;
 }
 .process-steps a{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center !important;

 }
.active{
  display: block !important;
}



.hiw .col-md-6 img{
    margin: 25% auto !important;
}

.process-steps p{
  width: 80%;
}
.process-steps-1 h3{
  height: 50px;
  width: 50px;
  background-color: #EEF7FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process-steps h3{
  height: 50px;
  width: 50px;
  background-color: #EEF7FF;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.process-steps a:hover, .process-steps-1 a:hover{
  text-decoration: none;

  opacity: 0.8;
}
.hover-change{
  background-color: #337CEF !important;
  color: white;
}


.bg-color{

  background-color: #086CE6;
}

.questions-contact{
  width: 80%;
  margin: 0 auto !important;

  color: white;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questions-contact a{
  color: white;
}
.questions-contact a:hover{
  color: rgba(255, 255, 255, .7);
  text-decoration: none;
}
.questions p{
  font-size: 16px;
  padding-top: 10px;
}
.bg-color-footer{
    background-color: #EEF7FF;
    padding: 30px;
}
.footer{

  width: 90% !important;
  margin: 0 auto !important;
  display: flex;
  justify-content: center;

}
.footer img{
  margin: 4px 0 8px 0;
}
.footer h5{
  font-size: 16px;
}
.footer-head-padding{
  padding: 10px 0;

}

.footer-subtitle h6{
  padding: 4px 0 !important;
}
.footer-color a{

  color: #647493;
}
.footer a:hover{
  text-decoration: none;
}
.social-icons{
  display: flex;
  flex-direction: row !important;
}

.social-icons .fab, .fa{
  height: 30px !important;
  width: 30px !important;
  color: #2C3850;
  border: 1px solid #2C3850;
  border-radius: 50%;
  padding: 4px;
  margin: 0 4px !important;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center;

}
#twitter-icon{
  color: #337CEF !important;
  border: 1px solid #337CEF !important;
}
#twitter-icon:hover{
  background-color: #337cef;
  border: none;
  color: white !important;
}
#facebook-icon{

padding-left: 10px !important;
padding-top: 7px;
  border: 1px solid #395498;
}
#facebook-icon:hover{
  background-color: #395498;
  border: none;
  color: white !important;
}
#youtube-icon{
  color: #f30007 !important;
  border: 1px solid #f30007;
}
a svg:hover #facebook-icon,
a svg:hover #instagram {
  fill: white;
}
#youtube-icon:hover{
  background-color: #f30007;
  border: none;
  color: white !important;
}
#linkedin-icon{
  color: #0173af !important;
}
#linkedin-icon:hover{
  background-color: #0173af;
  color: white !important;
  border: none;
}

.copyright{
  width: 80% !important;
  margin: 0 auto !important;
  text-align: center;
}
.copyright p{
  font-size: 14px;
}
.customer-says{
  margin: 70px 0;
}

.shadow-effect .col-4{
  padding: 0;
  margin: 0;
}

.owl-carousel .para{
  top: 5%;
  position: absolute;
  margin: 6px 20px;
  padding: 0 10px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.4;
}
.personal-details{
  bottom: 3%;
  position: absolute;
  margin: 6px 20px;
  padding: 0 10px;

}
/*.carousel-image img{
  padding: 0;
  margin: 0 !important;
}*/
.carousel-image{
  height: 220px;

    clip-path: polygon(100% 0%, 0% 0%, 30% 100%, 100% 100%);
}
.shadow-effect
{
        background: #E2EFFF;
		    border-radius: 4px;
        height: 220px;
        width: 500px;
        position: relative;
		}
    .testimonial-name{
  margin-bottom: -1px;


      font-size: 18px;
    }

.owl-carousel img{
  height: 220px;
  border-radius: 4px;
}
.owl-carousel .item{
  display: flex;
justify-content: center;

margin: 0 auto !important;
}

		#customers-testimonials .item {
				margin-bottom:80px;
		}

#customers-testimonials.owl-carousel .owl-dots{
	text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
	display: inline-block !important;

}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #7E7D7D;
    display: inline-block;
    height: 8px;
    margin: 20px 5px;
    border-radius: 50%;
    transition: all 250ms ease-out 0s;
    width: 8px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span:hover{
  background: #3190E7!important;
  transform: scale(1.4);
}


@media screen and (max-width: 992px){
   .navbar-nav{
     width: 94%;
     margin: 0 auto;
     z-index: 1 !important;
 }
 .nav-item{
   padding: 10px 0 !important;

 }
 .logo-top{
   margin-left: 20px;
 }

 .hero-content{
   width: 80%;
   margin-left: 30px;

 }


 .find-btn{
   display: block !important;
 }
 .next-car-btn{

 }

 .hiw-large{
   display: none;
 }
.hiw-responsive{
  display: block;
}

  .facilities{
     display: flex;
     justify-content: center;
  }

  .how-it-works{
    text-align: center;
  }
  .how-it-works img{
    width: 80%;
  }

  .questions-contact{
    text-align: center;
  }
  .questions-contact .col-lg-4{
    padding: 16px;
  }
  .footer{
    width: 80% !important;
    margin: 0 auto !important;
    display: flex;

    justify-content: center;
  }
  .footer-head-padding{
    margin: 10px 0;
  }

.login-btn{
 width: 20%;
 text-align: center;
 border-radius: 4%;
}
}


@media screen and (max-width: 768px){
.navbar{
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-nav{
  width: 100%;
  text-align: center !important;
  background-color: #337CEF;
}
.nav-item a{
  color: white !important;

}
.btn{
  border: 1px solid white !important;
}

 .process-steps{
    order: 2;
  }
  .image{
    order: 1;
  }
.hiw .col-md-6 img{
  margin: 10% auto !important;
}

.footer{
  text-align: center;
}
.social-icons{
display: flex;
justify-content: center;
align-items: center;
}
#facebook-icon{
  padding-left: 4px !important;

}

}


@media screen and (max-width: 600px){
.hero-content{
  text-align: left;
}
.hero-content h1{
  font-size: 36px;
}

.nav-item:hover{
color: rgba(255, 255, 255, 0.7) !important;
}

  input[type="text"]{
    display: none;
  }
  input[type="button"]{
    margin: 0;
  }


  .browse-by-make, .browse-by-type{
    width: 98% !important;
    margin: 0 auto !important;
   text-align: center;
  }
  .browse-by-type .row, .browse-by-make .row{

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .browse-by-type h5, .browse-by-make h5{
    font-size: 12px;
  }
.browse-by-type p{
  display: none;
}


.column{
  width: 30% !important;
  padding: 12px 0 !important;
}
.login-btn{
  width: 100%;
 box-shadow: none;
}
.carousel-image img{
  display: none !important;
}
.owl-carousel .para, .personal-details{
  margin: 6px 18% !important;
  width: 300px;
  padding: 10px 0;
  text-align: center;

}

}
